body#tinymce.wp-editor {
	font-family: "Lato", Helvetica, sans-serif;
	color: rgb(51, ​ 51, ​ 51);
	margin: 10px;
}
body#tinymce.wp-editor a {
	color: #4CA6CF;
}
body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
	line-height: 1.1;
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: 500;
}
body#tinymce.wp-editor h2 {
	font-size: 30px;
}
body#tinymce.wp-editor h3 {
	font-size: 24px;
}