/*
Theme Name: NEILG 1.0.1
Theme URI: http://www.stonybrookweb.com
Template: zerif-lite
Author: A. Martin
Author URI: http://www.stonybrookweb.com
Description: A custom theme based on the zerif-lite theme https://wordpress.org/themes/zerif-lite/
originally based on zerif-lite 1.8.4.0
Tags:
Version: 1.0.1
Updated: 2016-06-24

*/


body, button, input, select, textarea, p {
    color: #333;
}

.row {
	margin-left: 0;
	margin-right: 0;
}


/* Added Title an Description */
#hd h1,
.description  {
	color: #5C8FCA;
}

.description {
    text-indent: 22%;
}

.entry-content p, .entry-content li {
    line-height: 1.5em;
    text-align: left;
}


/* Menu Adjustments */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #5C8FCA;
    background-color: transparent;
}

.navbar-inverse .navbar-nav ul.sub-menu li:hover > a, .navbar-inverse .navbar-nav ul.sub-menu li.link-focus > a {
	color: #5C8FCA;
	text-decoration: none;
}

.navbar-inverse .navbar-nav ul.sub-menu li a,
.navbar-inverse .navbar-nav>li>a  {
	color: #666;

}

.navbar-inverse {
	background-color: white;

}

#main-nav {
    padding-top: 30px;
}



.navbar-brand {
	height: 120px;
}


/* Focus Section Adjustments */
#focus {
	padding-top: 0;
	padding-bottom: 100px;
}

/* About Us section adjustments */
.about-us {
    background: black none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 100px;
	padding-top: 100px;
}

.about-us p {
	font-size: 16px;
	line-height: 1.75;
	color: white;
}

/*#808080 *#939393;	*/

.about-us .big-intro {
		color: white; /*#5C8FCA;*/
		font-size: 50px;
}

.page-about-us h3,
.page-membership h3{
	position: relative;
}


.page-about-us h3::after,
.page-membership h3::after {
    background: #e96656 none repeat scroll 0 0;
    bottom: -4px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 40px;
}

/* footer adjustments */
#footer .footer-widget-wrap {
    background-color: #fff;
	color: #333;
	padding: 100px 0px 100px 0px;

}

.page-resources #footer .footer-widget-wrap {
	padding-top: 0px;
}

.footer-widget-wrap .widget li a {
	color: #333;

}

.footer-widget-wrap .widget li a:hover {
 	color: #5C8FCA;
}

#footer {
	background-color: black;
	margin-top:100px;
}

.home #footer {
	margin-top: 0px;
}

#zerif-copyright {
	color: white;
}

.footer-contact a{
	color: white!important;
	font-size: 14px;
}


.footer-contact a:hover, a:focus  {
	text-decoration: none !important;
		color: #5c8fca!important;
}


.zerif-copyright-box a {
	color: #535353!important;
}

.zerif-copyright-box a:hover {
    color: #939393 !important;
    text-decoration: none;
}

.zerif-copyright {
	font-size:8px;
}

#footer .copyright {
	padding-bottom: 0px;
	padding-top:20px;

}

/*form adjustment */

.page-contact-us #content,
.page-about-us #content,
.page-membership #content {
	background-image:url('images/new-england-map.png');
	background-position: center 80px;
    background-repeat: no-repeat;
    background-size: 380px auto;
}

.pirate_forms {
	opacity: .8;
}

.pirate_forms input {
    border: 1px solid #ccc;
	color: #333;
}

.pirate_forms textarea,
.pirate_forms input  {
	background-color: transparent;
}

.page-contact-us input[type="submit"] {
    margin-left: 15px;
    width: calc(100% - 30px);
	background-color: rgba(66, 139, 202, 0.5);
    color: black;
	transition: all 0.5s ease-in-out 0s;
}

.page-contact-us input[type="submit"]:hover {
	background-color: rgba(66, 139, 202, 1.0);
    color: white;
}

/* Officer page  */

.page-officers .fa-linkedin {
    background-color: #0077b5;
    color: white;
	padding: 3px;
    border-radius: 3px;
}

.fa-linkedin:hover {
    color: #0077b5;
    background-color: white;
}

.page-officers #team {
	padding-top: 0;
}

article.hentry {
	border-bottom: none;
}


.team-member .profile-pic{
	border:10px solid #ececec;
	margin-top: 25px;
}

.team-member {
	    border: 1px solid rgba(60, 60, 60, 0.1);
		border-radius: 6px;
}

/* Home more content arrow */
#more-content-arrow {
    background-color: #5c8fca;
    border-radius: 50%;
    bottom: 200px;
    height: 55px;
    padding-top: 11px;
    position: fixed;
    right: 20px;
    width: 55px;
	z-index: 1;
}

.fa.fa-arrow-down {
    color: white;
    font-size: 36px;
    padding: 0;
}

/* Home Calendar slide show adjustments */

/* Front page calendar */

.header-content-wrap {
	background: none;
}

.home-calendar {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
    padding-bottom: 0;
	padding-top: 20px;
}

.home-calendar .bx-wrapper .bx-viewport {
	   border-radius : 20px;
	   border: 10px solid #ececec;
	   transition: all 0.2s ease-in-out 0s;
	   border-left: 0px;
	   border-right: 0px;
	   box-sizing:border-box;
	   left: 0;
}

.home-calendar .bx-wrapper .bx-viewport:hover {
	border: 10px solid #3ab0e2;
	transition: all 0.2s ease-in-out 0s;
	border-left: 0px;
	border-right: 0px;
}

.bx-wrapper, .bx-viewport {
	box-shadow: none;
}

.bx-wrapper ul li {
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 180px;
}

.bx-wrapper ul {
	margin-left: 0;
}

.entry-title::after {
	background: none;
}

.entry-title::before {
		background: none;
}

.bx-wrapper .entry-title {
	width: 100%;
	text-align: center;
}


.home-calendar h1 {
	padding-bottom: 40px;
	color: #428BCA;
}


/* Membership Page */

.page-membership #content a  {
    color: #5C8FCA;
	text-decoration: underline;
}


#join {
    margin-bottom: 80px;
    margin-top: 80px;
}

.join-section {
     border-radius: 5px;
     border: 5px solid #cccccc;
}

.outer-join {
	padding: 0 20px 0 20px;
}

.join-section .level-cost {
    color: green;
}

.join-section h2 {
	background-color: #428BCA;
	color: white;
	margin: 0;
	padding: 10px 0px 10px 0px;
}

.join-section h3 {
	margin-bottom: 0px;
}

.join-section p {
	margin-top: 24px;
}


.page-join .hentry .entry-header {
    display: none;
}


.page-membership form {
    margin: 40px auto 0 auto;
    width: 210px;
	padding: 20px;
	background-color: lightgray;
	border-radius: 5px;
}

.page-membership .footer-widget {
    margin-bottom: 40px;
}

/* resources */
.page-resources a:hover ,
.page-membership a:hover {
    color: #e96656;
}


.page-resources .LinkLibraryCat ul {
	display: none;
	margin-bottom: 60px;
	list-style: none;
	margin-top: 20px;
}


.page-resources .linklistcatname {
    background-color: rgba(66, 139, 202, 0.5);
    color: black;
    margin-bottom: 5px;
    padding-left: 20px;
	border-radius: 10px;
	letter-spacing: 0.1em;
	font-size: 16px;
	font-family: "Lato",Helvetica,sans-serif !important;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 0.5s ease-in-out 0s;
	box-shadow: 0 0 5px #ececec
}


.page-resources .linklistcatname:hover {
	color: white;
	background-color: rgba(66, 139, 202, 1);
	transition: all 0.5s ease-in-out 0s;
}


.page-resources .linklistcatname.linkminus {
	color: white;
	background-color: #428BCA;
}


.page-resources .linklistcatname.linkplus::before {
    content: "+";
    padding-right: 10px;
}


.page-resources .linklistcatname.linkminus::before {
    content: "-";
    padding-right: 10px;
}


/* To Make sure membership link is always marked in the blue for easy notice */
.page-membership a:visited {
    color: #5C8FCA;
}
.page-resources a:visited {
    color: #e96656;
}

img.rss-widget-icon {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
	#join .footer-widget {
		margin-bottom: 40px;
	}

	#more-content-arrow {
		display: none;
	}

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
	.join-section h2 {
		font-size: 20px;
	}

}


@media screen and (min-width: 767px) and (max-width: 992px) {
.container a.btn.btn-primary.custom-button.green-btn {
    margin-top: 40px;
}
}


@media screen and (max-width: 992px) {
.description {
    text-indent: 0;
	margin-bottom: 20px;
}
}


/*standardize font grey font colot */

.focus-box p {
    color: #333;
	font-size: 16px;
}


.entry-title, .entry-title a, .widget-title, .widget-title a {
    color: #333;
}